main {
	width:900px;
	border-color: white;
}

h1 {
	font-family: verdana, sans-serif;
	font-style: bold;
	font-size: 22px;
	color:white;

}

h2 {
	font-family: verdana, sans-serif;
	font-style: bold;
	font-size: 12px;
	color:white;
}
p {
	font-family: verdana, sans-serif;
	font-size: 14px;
	color:white;
}



.chiatList{
	width:150px;
	height:300px;
	font-weight: lighter;
	position:absolute;
	top:860px;
	left:150px;
} 

ul{
	list-style-type: none;
}


li{
	font-family: verdana, sans-serif;
	font-size: 12px;
	color:white;
	line-height:30px;
	list-style-type: none;
}
 
.experienceBox{
	width:100px;
	height:100px;
	position: absolute;
	top:100px;
	left:300px;
}
.copychiat{
	width:300px;
	height:300px;
	position:absolute;
	top: 52px;
	left:546px;
}

.copydentsu{
	width:650px;
	height:300px;
	position:absolute;
	top: 252px;
	left:220px;
	border:1px dotted black;
}

.copytenga{
	width:250px;
	height:200px;
	position:absolute;
	top: 90px;
	border:1px dotted black;
	left:0px;
}

p.all{
	font-family: verdana, sans-serif;
	font-size: 12px;
	font-style: normal;
	color:white;
}


.boxResume {
	width:900px;
	height:700px;
	position:absolute;
	left:10px;
	top:0px;
	margin:0px;
	background-image: url(../assets/RESUMEbackground.jpg);
	background-repeat: no-repeat;
	background-size: cover;
	background-position: top;
	z-index: -1;
}
.boxTBWA {
	width:900px;
	height:700px;
	position:absolute;
	left:10px;
	top:700px;
	background-image: url(../assets/TBWAbackground.jpg);
	background-repeat: no-repeat;
	background-size: cover;
	background-position: top;
	z-index: -1;
}

.boxDentsu {
	width:900px;
	height:700px;
	position:absolute;
	left:10px;
	top:1400px;
	background-image: url(../assets/DENTSUbackground.jpg);
	background-repeat: no-repeat;
	background-size: cover;
	background-position: top;
	z-index: -1;
}


.boxTENGA {
	width:900px;
	height:700px;
	position:absolute;
	left:10px;
	top:2100px;
	background-image: url(../assets/TENGAbackground.jpg);
	background-repeat: no-repeat;
	background-size: cover;
	background-position: top;
	z-index: -1;
}

.boxSRP {
	width:900px;
	height:700px;
	position:absolute;
	left:10px;
	top:2800px;
	background-image: url(../assets/SRPbackground.jpg);
	background-repeat: no-repeat;
	background-size: cover;
	background-position: top;
	z-index: -1;
}
a:link{
	color:rgb(20,20,180);
	background-color: transparent;
	text-decoration: none;
}

a:visited{
	color:yellow;
	text-decoration: none;
}

a:hover.chiat {
	color:rgba(130,10,0,1);
	font-weight:normal;
	text-decoration: none;
}

img.bnyTeaser{
	position:absolute;
	left:300px;
	top:700px;
	background-position: center;
	opacity:.5;
}

img.beinTeaser{
	position:absolute;
	left:600px;
	top:800px;
	opacity:.5;
}

img.ethiconTeaser{
	position:absolute;
	left:780px;
	top:760px;
	opacity:.5;
}

img.mcdTeaser{
	position:absolute;
	left:380px;
	top:860px;
	opacity:.5;
}

img.mcdonaldsTeaser{
	position:absolute;
	left:780px;
	top:760px;
	opacity:.5;
}
img:hover{
	opacity:1;
}


